In [1]:
#add an element
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

In [6]:
#adding multiple itmes using update function
set1.add("1")
set1.add("$")
set1.add("v")
set1.add("apple")
set1

{'$', 1, '1', 'a', 'apple', 'b', 'c', 'v'}

In [14]:
#update a set
set1.update(["1","apple","b"])
set1

{'$', 1, '1', 'a', 'apple', 'b', 'c', 'v'}

In [12]:
#length of a set
x=len(set1)
set1

{'$', 1, '1', 'a', 'apple', 'b', 'c', 'v'}

In [15]:
#remove a value from set
set1.remove("apple")
set1

{'$', 1, '1', 'a', 'b', 'c', 'v'}

In [22]:
#pop an element from set
y=set1.pop()
y

'v'

In [23]:
#clear a set
set1.clear()
set1

set()

In [24]:
#delete a set
del set1
set1

NameError: name 'set1' is not defined

In [25]:
#union of two set
set2={1,2,3}
set3={"a","b","c"}
set4=set2.union(set3)
set4

{1, 2, 3, 'a', 'b', 'c'}

In [27]:
#intersection of two set
set5={"a","b","c"}
set6={"a",1,2}
set7=set5.intersection(set6)
set7

{'a'}

In [32]:
#subset of set
set8={1,2,3}
set9={"a","b","c",1,2,3}
set8.issubset(set9)

True

In [33]:
#superset of set
set10={"a","b","c",1,2,3}
set11={1,2,3}
set10.issuperset(set11)

True

In [39]:
#difference of set
set8={1,2,3,4}
set9={1,2,3}
set8.difference(set9)

{4}

In [40]:
#symmetric difference of set
set12={1,2,3,4,5}
set13={2,3,5}
set12.symmetric_difference(set13)

{1, 4}

In [44]:
#update a set
set13.update(set12)
set13

{1, 2, 3, 4, 5}